.hover-effect {
  transition: transform 0.3s ease, box-shadow 0.3s ease, height 0.3s ease;
}

.hover-effect:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
  height: auto !important;
  max-height: 800px;
}

.hover-effect:hover .card-body {
  overflow: visible !important;
}

.hover-effect:hover .card-text {
  overflow: visible !important;
} 